<div class="size-viewport" *ngIf="!user">
    <form class="contenedor-login">
        <br>
        <span class="titulo-login margen-separador">Iniciar Sesion</span>
        <input pInputText class="p-inputtext-lg margen-separador " type="username" [(ngModel)]="usuario" [ngModelOptions]="{ standalone: true }" placeholder="Usuario"
            maxlength="50" />
        <input pInputText class="p-inputtext-lg margen-separador " type="password" [(ngModel)]="clave" [ngModelOptions]="{ standalone: true }" placeholder="Clave"
            maxlength="50"  />
        <div class="margen-separador" [innerHtml]="htmlToAdd"></div>
        <button pButton class="p-button-text p-button-raised margen-separador " (click)="ComprobarUsuario()" type="submit">
            Ingresar
        </button>
    </form >
</div>