<div class="home">
    <div class="publicacion" *ngFor="let item of publicaciones">
        <div class="titulo-publicacion"> {{item.titulo}} </div>
        <p class="descripcion-publicacion"> {{item.descripcion}} </p>
        <div class="datos-publicacion"> Creado por <strong
                style="text-decoration: underline;">{{item.usuario.user}}</strong>
            a las {{item.horarioCreacionString}}hs el {{item.fechaCreacionString}}
        </div>
        <br>
        <div>Comentarios:</div>
        <div class="comentarios" *ngFor="let item2 of item.comentarios;">
            <div class="caja-texto-comentario"> <strong style="font-size: 15px;">{{item2.user.user}}:</strong>  {{item2.texto}} </div>
            <div class="datos-comentario"> Publicado a las {{item2.horarioCreacionString}}hs el
                {{item2.fechaCreacionString}} </div>
        </div>
        <div *ngIf="user" class="caja-nuevo-comentario">
            <textarea class="input-comentario-nuevo" type="textarea" [(ngModel)]="comentarioInput" [ngModelOptions]="{ standalone: true }"
                placeholder="¿Que estas pensando?" maxlength="3000"></textarea>
            <button (click)="cargarComentario(item.id_publicacion)" type="submit">
                Comentar
            </button>
            <div [innerHtml]="htmlToAdd"></div>
        </div>
    </div>

</div>