<div class="home">
    <div class="publicacion" *ngFor="let item of publicaciones;let i = index">
        <div class="titulo-publicacion"> {{item.titulo}} </div>
        <p class="descripcion-publicacion"> {{item.descripcion}} </p>
        <div class="etiqueta" *ngFor="let item2 of item.etiquetas">
            <strong>Etiquetas:</strong>
            <span class="tag"> {{item2.etiqueta}}</span>
        </div>
        <div class="datos-publicacion"> Creado por <strong
                style="text-decoration: underline;">{{item.usuario.user}}</strong>
            a las {{item.horarioCreacionString}}hs el {{item.fechaCreacionString}}
        </div>
        
        <br>
        <div><strong>Comentarios:</strong></div>
        <div class="comentarios" *ngFor="let item2 of item.comentarios;">
            <div class="caja-texto-comentario"> <strong style="font-size: 15px;">{{item2.user.user}}:</strong>
                {{item2.texto}} </div>
            <div class="datos-comentario"> Publicado a las {{item2.horarioCreacionString}}hs el
                {{item2.fechaCreacionString}} </div>
            <button *ngIf="user && user.user === item2.user.user" (click)="borrarComentario(i , item2.id_comentario)" type="submit">
                Borrar
            </button>
        </div>
        <div *ngIf="user" class="caja-nuevo-comentario">
            <textarea class="input-comentario-nuevo" type="textarea" [(ngModel)]="comentarioInput"
                [ngModelOptions]="{ standalone: true }" placeholder="¿Que estas pensando?" maxlength="3000"></textarea>
            <button (click)="cargarComentario(item.id_publicacion)" type="submit">
                Comentar
            </button>
        </div>
    </div>

</div>