<div class="header">
    <a class="titulo-web" routerLink="/">Proyecto Web</a>
    <div class="boton-login" *ngIf="!user && this.router.url != '/login'">
        <a class="boton-login" routerLink="/login">Ingresar</a>
    </div>
    <div class="boton-login" *ngIf="user">
        <div>
            <strong style="margin-right: 5px;">Bienvenido, {{ user.nombre }} {{ user.apellido }}</strong>
            <button (click)="clickedSalir()">
                Cerrar sesión
            </button>
        </div>
    </div>
</div>