<div class="header">
    <a class="titulo-web" routerLink="/">Carolina Rabuini</a>
    <div class="menu">
        <div *ngIf="!user" class="boton-login">
            <a class="boton-login" routerLink="/login">Ingresar</a>
            <a class="boton-registro" routerLink="/registro">Registro</a>
        </div>
        <div class="boton-login" *ngIf="user" (click)="showDropdown()">
            <div>
                <strong style="margin-right: 5px;">Bienvenido, {{ user.nombre }} {{ user.apellido }}</strong>
               
                <div *ngIf="dropdownShow" class="dropdown-menu">
                    <button routerLink="/panel">Panel</button>
                    <button (click)="clickedSalir()">
                        Cerrar sesión
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
