.contenedor{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: calc(100vh - 120px);
}

.panel-principal{
    width: calc(100% - 280px);
    height: 100%;
}

.menu-lateral{
    display: flex;
    flex-direction: column;
    width: 280px;
    min-height: calc(100vh - 120px);
    background-color:rgb(182, 230, 236);
}

.panel-lateral-boton{
    background: rgb(111,146,153);
    background: linear-gradient(166deg, rgb(131, 171, 179) 0%, rgba(125,190,195,1) 28%, rgb(210, 226, 230) 100%);
    height: 50px;
    min-height: 10px;
    display: flex;
    align-items: center;
    padding-left: 10%;
    cursor: pointer;
    font-weight: 700;
}