
<div class="publication-container">
    <h3 class="margen-separador">Crear Publicacion</h3>

    <span>Titulo</span>
    <input pInputText  class="publication-input-title" type="text" [(ngModel)]="titulo" maxlength="50">
    
    <span>Descripcion</span>
    <textarea [rows]="10" [cols]="30" pInputTextarea class="publication-description" [(ngModel)]="descripcion"></textarea>

    <span class="publication-tags-title">Etiquetas</span>
    <div *ngFor="let item of tags" >
        <p-checkbox name="group2" value="item" [value]="item" (onChange)="selectTag(item.id_etiqueta,$event)" [(ngModel)]="tagsSelect" inputId="item.id_etiqueta" ></p-checkbox>
        <label>{{item.etiqueta}}</label>
        <!-- <input type="checkbox" (change)="selectTag(item.id_etiqueta,$event)">
        <span>{{item.etiqueta}}</span> -->
    </div>
    <div class="button-container">
        <button pButton class="publication-create-button margen-separador" (click)="createPublication()">Crear</button>
    </div>

    <div [innerHtml]="htmlToAdd"></div>
    
</div>
