<h3>Editar Publicaciones</h3>

<div class="gallery-container">

    <span>Titulo</span>
    <input class="gallery-input-title" type="text" [(ngModel)]="gallery.titulo" maxlength="50">

    <span>Descripcion</span>
    <textarea class="gallery-description" [(ngModel)]="gallery.descripcion" cols="30" rows="10"></textarea>

    <span class="gallery-tags-title">Etiquetas</span>
    <div *ngFor="let item of tags;let i = index">
        <input type="checkbox" (change)="selectTag(item.id_etiqueta,$event)">
        <span>{{i+1}} : {{item.etiqueta}}</span>
    </div>


    <div class="contenedor-input">
        <div class="contenedor-input-titulo">
            <label class="input-titulo">Imagenes:</label>
        </div>
        <div class="tabla-imagenes">
           <img class="m-2" *ngFor="let imagen of imagenesUrlNoticia; let i = index" [src]="imagen" (click)="deleteImage(i)" style="width: 50px; height: 50px;cursor: not-allowed;" />
        </div>
        <input type="file" #imageUpload accept="image/*" style="display: none"/>
        <button type="button" class="btn btn-primary" (click)="openImage()">Elegir imagen</button>
    </div>


    <button class="gallery-edit-button" (click)="editGallery()">Crear</button>
    
    <div [innerHtml]="htmlToAdd"></div>
    
</div>