
<section class="contenedor-panel">
    <h3>Publicaciones</h3>
    <div *ngIf="opcion == 'create'">
        <app-panel-publicaciones-crear></app-panel-publicaciones-crear>
    </div>
    <div *ngIf="opcion == 'table'" class="table">
        <div class="table-row" >
            <div class="element-table-list">Lista</div>
            <div class="element-table-title">Titulo</div>
            <div class="element-table-opcions">Opciones</div>
        </div>
        <div class="table-row" *ngFor="let item of publicaciones;let i = index" >
            <div class="element-table-list">{{i+1}}</div>
            <div class="element-table-title">{{item.titulo}}</div>
            <div class="element-table-opcions">
                <button (click)="updatePublication(item.id_publicacion)">Editar</button>
                <button (click)="deletePublication(item.id_publicacion)">Borrar</button>
            </div>
        </div>
        <div [innerHtml]="htmlToAdd"></div>
    </div>
    <button *ngIf="opcion == 'table'" class="create-publication-button" (click)="opcion = 'create'">Crear Publicacion</button>
    <button *ngIf="opcion == 'create'" class="create-publication-button" (click)="opcion = 'table'">Volver</button>
</section>