
<section class="contenedor-panel">
    <h3>Publicaciones</h3>
    <div *ngIf="opcion == 'create'">
        <app-panel-publicaciones-crear></app-panel-publicaciones-crear>
    </div>
    <div *ngIf="opcion == 'edit'">
        <app-panel-publicaciones-editar [idPublication]="idPublicacionEdit"></app-panel-publicaciones-editar>
    </div>
    <div *ngIf="opcion == 'table'" class="table">
        <p-table [value]="publicaciones" [scrollable]="true"  [resizableColumns]="true" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th pResizableColumn style="flex-basis:30%">Lista</th>
                    <th pResizableColumn style="flex-basis:40%">Titulo</th>
                    <th pResizableColumn style="flex-basis:30%">Opciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-publicacion let-i="rowIndex">
                <tr>
                    <td style="flex-basis:30%">{{i+1}}</td>
                    <td style="flex-basis:40%">{{publicacion.titulo}}</td>
                    
                    <td style="flex-basis:30%">
                        <button pButton  class="margen" (click)="updatePublication(publicacion.id_publicacion)">Editar</button>
                        <button pButton class="p-button-danger" (click)="deletePublication(publicacion.id_publicacion)">Borrar</button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <div [innerHtml]="htmlToAdd"></div>
    </div>
    <button pButton *ngIf="opcion == 'table'" class="create-button" (click)="opcion = 'create'">Crear Publicacion</button>
    <button pButton *ngIf="opcion == 'create' || opcion == 'edit'" class="create-button" (click)="opcion = 'table'">Volver</button>
</section>